<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <button><a routerLink="" routerLinkActive="ative">Book Shop</a> </button>
    </div>
    <div>
        <a class="mx-4" routerLink="/cart" routerLinkActive="ative">My Cart</a>
        <a class="mx-4" routerLink="/login" routerLinkActive="ative">Login</a>
        <a class="mx-4" routerLink="/register" routerLinkActive="ative">Register</a>
    </div>
</nav>
<div class="p-4">
    <router-outlet></router-outlet>
</div>